<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- id属性 名字（唯一标识）
    class属性 配置的全限定名 -->
    <bean id="person" class="com.spring5.basic.Person"/>
    <!-- name属性 别名 可以有多个，用逗号隔开  id相当于人的大名，name相当于人的小名字 -->
    <bean id="person1" name ="p,p1" class="com.spring5.basic.Person"/>
    <!-- 只有class 属性也是可以的，spring会自己默认设置一个id属性 -->
    <bean class="com.spring5.basic.User"/>
    <!-- 测试私有换构造方法的类也可以被创建，因为底层用的是反射 -->
    <bean id="user" class="com.spring5.basic.User"/>
    <!-- 测试spring工厂set注入 -->
    <bean id="person2" class="com.spring5.basic.Person">
        <!-- jdk的八种基本类型 -->
<!--        <property name="id">-->
<!--            <value>123</value>-->
<!--        </property>-->
        <!-- jdk的八种基本类型的简化写法 -->
        <property name="id" value="123"/>
        <!-- jdk的八种基本类型 -->
<!--        <property name="name">-->
<!--            <value>李四</value>-->
<!--        </property>-->
        <!-- jdk的八种基本类型的简化写法 -->
        <property name="name" value="李四"/>
        <!-- 数组类型赋值 -->
        <property name="emails">
            <list>
                <value>zhangsan@11111</value>
                <value>lisi@11111</value>
                <value>wangwu@11111</value>
            </list>
        </property>
        <!-- Set集合 -->
        <property name="tels">
            <set>
                <value>123456</value>
                <value>123456</value>
                <value>123455678</value>
            </set>
        </property>
        <!-- List集合 -->
        <property name="addresses">
            <list>
                <value>1234daskf</value>
                <value>1234daskf</value>
                <value>1234das123n12</value>
            </list>
        </property>
        <!-- Map集合 -->
        <property name="qqs">
            <map>
                <entry>
                    <key><value>zhangsan</value></key>
                    <value>9876823392</value>
                </entry>
                <entry>
                    <key><value>lisi</value></key>
                    <value>3455902020</value>
                </entry>
                <entry key="wangwu">
                    <value>1987687203</value>
                </entry>
            </map>
        </property>
        <!-- Properties类型 -->
        <property name="p">
            <props>
                <prop key="k1">v1</prop>
                <prop key="k2">v2</prop>
                <prop key="k3">v3</prop>
            </props>
        </property>
    </bean>

    <!-- 测试spring工厂的 用户自定义的成员变量 的set注入 第一种方式 -->
    <bean id="userService" class ="com.spring5.basic.UserServiceImpl">
        <property name="userDAO">
            <bean class = "com.spring5.basic.UserDAOImpl"></bean>
        </property>
    </bean>

    <!-- 测试spring工厂的 用户自定义的成员变量 的set注入 第二种方式 -->
    <bean id="userDAO" class="com.spring5.basic.UserDAOImpl"/>
    <bean id="userService2" class ="com.spring5.basic.UserServiceImpl">
        <property name="userDAO">
            <ref bean="userDAO"/>
        </property>
    </bean>
</beans>