<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--需要实现spring代理的目标类-->
    <bean id="userService" class="com.spring5.proxy.UserServiceImpl"/>
    <bean id="orderService" class="com.spring5.proxy.OrderServiceImpl"/>
    <bean id="userService2" class="com.spring5.proxy.UserServiceImplProxy"/>

    <!--实现MethodBeforeAdvice接口,额外功能的书写-->
    <!--<bean id="before" class="com.spring5.proxy.dynamic.Before"/>-->
    <!--<bean id="before" class="com.spring5.proxy.dynamic.Before1"/>-->
    <!--实现MethodInterceptor接口,额外功能的书写-->
    <!--<bean id="around" class="com.spring5.proxy.dynamic.Around"/>-->
    <bean id="around" class="com.spring5.proxy.dynamic.Around1"/>

    <aop:config>
        <!--所有的方法，都作为切入点，加入到额外的功能 eg: login() register()-->
        <!--<aop:pointcut id="pc" expression="execution(* *(..))"/>-->
        <!-- 以login方法为切入点 -->
        <!--<aop:pointcut id="pc" expression="execution(* login(..))"/>-->
        <!-- 以login(String name,String password)为切入点 -->
        <!--<aop:pointcut id="pc" expression="execution(* login(String,String))"/>-->
        <!-- 更加精准的找到切入点 -->
        <!--<aop:pointcut id="pc" expression="execution(* com.spring5.proxy.UserServiceImpl.login(..))"/>-->
        <!-- 类切入点: 类下面的所有方法-->
        <aop:pointcut id="pc" expression="execution(* *..UserServiceImpl.*(..))"/>
        <!--组装：把 切入点（pc） 和 额外的功能（before） 组装-->
        <!--<aop:advisor advice-ref="before" pointcut-ref="pc"/>-->
        <!--组装：把 切入点（pc） 和 额外的功能（around） 组装-->
        <aop:advisor advice-ref="around" pointcut-ref="pc"/>
    </aop:config>


</beans>
